<h1>Imóveis da regição de <%= @property_location.name %></h1>

<h2>Imóveis disponíveis</h2>

<% if @property_location.properties.empty? %>
  <div><span>Nenhum imóvel disponível</span></div>
<% end %>

<% @property_location.properties.each do |p| %>
  <%=content_tag :h3, link_to(p.title, property_path(p))%>
  <%=content_tag :p, p.description%>
  <%=content_tag :p, "Quartos: "+ p.rooms.to_s%>
<% end %>

<%= content_tag :p, link_to("Voltar", root_path)%>
