<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>
<% if @property.empty? %>
  <div><span>Nenhum imóvel disponível</span></div>
<% else %> 
  <%@property.each do |p|%>
      <%=content_tag :h3, link_to(p.title, property_path(p))%>
      <%=content_tag :p, p.description%>
      <%=content_tag :p, p.rooms%>
  <% end %>
<% end %>

<%= link_to 'Cadastrar Imóvel', new_property_path%>

<%= link_to "Cadastrar Tipo de Imóvel", new_property_type_path %>

<%= link_to "Cadastrar Nova Localização", new_property_location_path %>
